<div class="container">
    <div class="row">
        <a href="#contact" class="logo wow bounceInDown" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="wrap" style="border: 0;padding-bottom:0;margin-bottom:0">
                <img src="/img/logo.png" width="100" />
            </div>
        </a>
        <div class="col-sm-8 col-sm-offset-2 wow fadeInDown">
            <h1>codesin.net</h1>
            <div class="dotted-break"></div>
            <h2>A blog about coding - by Julian Perrott</h2>

            <blockquote>
                <p title="We have to experience something ourselves in order to really understand it. If we are hearing something it might be interesting. If we are seeing something it might be beautiful. But only if we have it happening to ourselves - actively doing it - we can really know how it is."
                   data-toggle="tooltip" data-placement="top">
                    "I hear and I forget. I see and I remember. I do and I understand." - Confucius
                </p>
            </blockquote>
        </div>
    </div>
</div>