<!-- Contact -->
<section id="contact">
    <div class="container">
        <!-- Header -->
        <header class="font-white">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 wow fadeInDown">
                    <h1>Contact me</h1>
                    <div class="dotted-break"></div>
                    <h2>Say Hello !</h2>
                </div>
            </div>
        </header>
        <!-- Content -->
        <div class="row">
            <div class="col-xs-12 info" style="font-size: 20px;">
                <span class="wow fadeInRight" data-wow-delay="0.2s"><i class="fa fa-location-arrow icon"></i> I Live in Milton Keynes, United Kingdom</span>
                <span class="wow fadeInRight" data-wow-delay="0.4s"><i class="fa fa-envelope-o icon"></i>
               <a href="mailto:julian.perrott@gmail.com?Subject=Hello, Julian">julian.perrott@gmail.com</a></span>
            </div>
        </div>

        <div id="contactfooter">

            <!-- Social-->
            <div class="social">
                <a href="http://uk.linkedin.com/in/julianperrott1" data-toggle="tooltip" data-placement="bottom" title="linked In" class="icon"><i class="fa fa-3x fa-linkedin"></i></a>
                <a href="https://github.com/julianperrott" data-toggle="tooltip" data-placement="bottom" title="GitHub" class="icon"><i class="fa fa-3x fa-github"></i></a>
                <a href="https://www.facebook.com/julianperrott" data-toggle="tooltip" data-placement="bottom" title="Facebook" class="icon"><i class="fa fa-3x fa-facebook"></i></a>
            </div>
        </div>
    </div>
</section>